In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

In [14]:
df = pd.read_csv("base_proyecto.csv", sep = ",", index_col=0).iloc[:4000,1:]
df

       pobreza  ingresos  nivel_de_estudios  grupos_de_edad
indez
1            3     42000                  4               7
2            3     40000                  5              14
3            3     31000                  4              10
4            3     30000                  6              14
5            3     30000                  5               9
...        ...       ...                ...             ...
3996         3      2500                  5              10
3997         3      2500                  2              10
3998         3      2500                  4              10
3999         2      2500                  4               9
4000         2      2500                  4               9

[4000 rows x 4 columns]

In [17]:

X = df.iloc[:,[1,3]]
y = df.iloc[:,1]
X.shape, y.shape
X, y

(       ingresos  grupos_de_edad
 indez
 1         42000               7
 2         40000              14
 3         31000              10
 4         30000              14
 5         30000               9
 ...         ...             ...
 3996       2500              10
 3997       2500              10
 3998       2500              10
 3999       2500               9
 4000       2500               9

 [4000 rows x 2 columns],
 indez
 1       42000
 2       40000
 3       31000
 4       30000
 5       30000
         ...
 3996     2500
 3997     2500
 3998     2500
 3999     2500
 4000     2500
 Name: ingresos, Length: 4000, dtype: int64)

In [7]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.5, random_state = 0)

In [ ]:
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
cross_val_score

In [ ]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernal = "linear", C = 1, random_state = 42)
scores = cross_val_score(clf, X, y, cv=5)
scores

print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))
0.98 accuracy with a standard deviation of 0.02

SyntaxError: invalid syntax (1333539431.py, line 7)

In [ ]:
from sklearn import datasets, linear_model
from sklearn.model_selection import cross_val_predict
clf = svm.SVC(kernel = "linear", C = 1, random_state = 42).fit(X_train,y_train)
y_pred = cross_val_predict(clf, X_test, y_test, cv=6)