In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

In [85]:
df = pd.read_csv("base_proyecto.csv", sep = ",", index_col=0).iloc[:4000,:]
df

       pobreza_binaria  pobreza  ingresos  nivel_de_estudios  grupos_de_edad
indez
1                    1        3     42000                  4               7
2                    1        3     40000                  5              14
3                    1        3     31000                  4              10
4                    1        3     30000                  6              14
5                    1        3     30000                  5               9
...                ...      ...       ...                ...             ...
3996                 1        3      2500                  5              10
3997                 1        3      2500                  2              10
3998                 1        3      2500                  4              10
3999                 0        2      2500                  4               9
4000                 0        2      2500                  4               9

[4000 rows x 5 columns]

In [82]:

X_train = df.iloc[:2000,2:]
y_train = df.iloc[:2000,1]
X_train.shape, y_train.shape

((2000, 3), (2000,))

In [88]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size = 0.5, random_state = 0)

In [ ]:
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

In [ ]:
cross_val_score

In [ ]:
from sklearn.model_selection import cross_val_score
clf = svm.SVC(kernal = "linear", C = 1, random_state = 42)
scores = cross