In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm

In [26]:
df = pd.read_csv("base_proyecto.csv", sep = ",", index_col=0)
df

       pobreza_binaria  pobreza  ingresos  nivel_de_estudios  grupos_de_edad
indez
1                    1        3     42000                  4               7
2                    1        3     40000                  5              14
3                    1        3     31000                  4              10
4                    1        3     30000                  6              14
5                    1        3     30000                  5               9
...                ...      ...       ...                ...             ...
9446                 0        2        30                  2               4
9447                 1        3        25                  2               5
9448                 1        3        25                  2               5
9449                 0        1        25                  2               4
9450                 1        3        10                  3               4

[9450 rows x 5 columns]

In [81]:

X_train = df.iloc[:2000,2:]
y_train = df.iloc[:2000,1]
X_train.shape, y_train.shape

((2000, 3), (2000,))